<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Here's what we can help you with.</h3>
                    <p>We structure fast one week sprints in most areas of our work. This helps get results and answers quickly and ensure we're driving towards your goals. Learn by making.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-street-view fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">User Research</h4>
                    <p class="text-muted">Gaining a better understanding of your current and potential users is one of the best ways to leapfrog the competition.</p>
                </div>            
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-fighter-jet fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Rapid Prototyping</h4>
                    <p class="text-muted">The sooner you can play with it the sooner you can evaluate it. We can help get you a working version ASAP.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Product Evaluation</h4>
                    <p class="text-muted">Have something working? Let's get it in front of users and see what works and what doesn't. This is a great service to have done by an outside team, no bias and no ownership of the idea.</p>
                </div>
            </div>
        </div>
    </section>